#blur.active {
    filter: blur(100px);
    pointer-events: none;
    user-select: none;
}

#chatbot {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0px 5px 30px;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#chatbot.active {
    visibility: visible;
    opacity: 1;
}

.chat-container {
    width: 500px;
    scroll-behavior: auto;
}

.chat-messages {
    padding: 10px;
    margin-bottom: 10px;
    height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 70%;
    padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.user-message {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
}

.other-message {
    background-color: #f0f0f0;
    color: #333;
    align-self: flex-start;
}

.chat-options {
    background-color: #f0f0f0;
    color: #333;
    align-self: flex-start;
    border-radius: 8px;
    border: 1px solid #2f86b9;
    margin-bottom: 5px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
}

.input-details[type="text"]{
    align-self: flex-end;
    width: 40%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
}

.input-details[type="email"] {
    align-self: flex-end;   
    width: 60%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 90%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}


.closeBOT {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
}


.showBOT {
    position: fixed;
    bottom: 50px;
    right: 60px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 999;
}


.popup-message {
    position: fixed;
    bottom: 85px;
    right: 40px;
}



/* .option-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

.option-button {
    display: block;
    margin: 5px 0;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option-button:hover {
    background-color: #0056b3;
}

.option-container.slide-in {
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
} */
.send-button {
    height: 33px;
    width: 33px;
    border-radius: 5px;
    background-color: #2f86b9;
    color: white;
    border: none; 
}

.send-button:hover{
    background-color: #0056b3;
}